.promo{
    height: 169px;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 8px 8px -8px rgba(0,0,0,.3), inset 0 -8px 8px -8px rgba(0,0,0,.3);
    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    &-title {
        color: #ffff;
        text-shadow: 0 1px 3px rgba(0,0,0,.3);
        font-weight: 700;
        text-align: center;
        font-size: 3.5rem;
        padding-bottom: .5rem;
    }
    &-text {
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300!important;
        margin-bottom: 0;
    }
    
    &-button {
        display: flex;
        align-self: flex-end;
        justify-content: space-between;
        align-items: center;
        width: 111px;
        height: 27px;
        font-weight: 400;
        border: 1px solid #999;
        color: #999;
        line-height: 1.25;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-image: none;
        background-color: transparent;
        padding: .25rem .5rem;
        font-size: .875rem;
        border-radius: .2rem;
    }
    
    &-img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        margin-bottom: 1rem;
    }
    
}
