.tags-list{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.tags-item{
    color: #fff!important;
    font-size: .8rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: .2rem;
    display: inline-block;
    background-color: #818a91;
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    cursor: pointer;
}